<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="https://scontent.fcpv3-1.fna.fbcdn.net/v/t1.0-0/p206x206/14344811_949302068530061_4020753447707921117_n.jpg?oh=19ad33d75dc8b94809838ebe0727d439&oe=59CB7256">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>

</aside>
